{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%} blog details page {% endblock title%}

{% block content%}
        <div class="container">
                <h2>{{blog_details_page.blog_title}}</h2>
                <p>{{blog_details_page.publish_date}}</p>
                <p>{{blog_details_page.Blog_commnet.count}} Comment | {{blog_details_page.Blog_like.count}} Like</p>
                <img src="{{blog_details_page.blog_images.url}}" width="300px" alt=""><br><br>
                <p>{{blog_details_page.blog_content}}</p>
        </div>
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                {% if not liked %}
                                <a href="{% url 'blog_liked' pk=blog_details_page.pk %}"><i class="fa-solid fa-thumbs-up fa-2x "></i></a>
                                {% else %}
                                <a href="{% url 'blog_unliked' pk=blog_details_page.pk %}"><i class="fa-solid fa-thumbs-down fa-2x"></i></a>
                                {% endif %}
                        </div>
                </div>
        </div>
        <div class="container">
                <div class="row">
                        <div class="col-md-6">
                                <h3>Comment:</h3>
                                {% for comment in blog_details_page.Blog_commnet.all %}
                                <p><a href="">@{{comment.user}}</a> <br>
                                        {{comment.comment_text}} <br>{{comment.comment_date}}
                                </p>
                                {% if comment.user == user %}
                                        <a href="{% url 'edit_commnet' pk=comment.pk %}">Edit your Commnet</a><br>
                                {% endif %}
                                {% endfor %}
                        </div>
                        <div class="col-md-6">
                                <form action="" method="post">
                                        {% csrf_token %}
                                        {{comment_form|crispy}}
                                        <button type="submit" class="btn btn-primary btn-sm">Add comment</button>

                                </form>
                        </div>
                </div>
        </div>

{% endblock content%}
